<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <center>
        <table border="1" width="700">
            
            <tr>
                <td colspan="2" align="center" bgcolor="lightblue">Academic qualifications:</td><td bgcolor="lightblue" colspan="1" align="center" width="150">Year awarded:</td>
            </tr>

            <tr>
                <td rowspan="2" align="center" width="200">Bachelor of Science</td>
                <td>The University of Hong Kong</td><td>2018</td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="lightblue">Survived!!</td>
            </tr>

            <tr>
                <td rowspan="2" align="center" width="200">Master of Environmental Science and Management</td>
                <td>Hong Kong University of Science and Technology</td><td>2020</td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="lightblue">Survived!!</td>
            </tr>
            
            <tr>
                <td rowspan="2" align="center" width="200">Master of Education</td>
                <td rowspan="1">The University of Hong Kong</td><td>2025 (hopefully)</td>
            </tr>
            <tr>
                <td colspan="2" align="center" bgcolor="lightblue">Fighting!!!</td>    
            </tr>

        </table>
    </center>
</body>
</html>