<!DOCTYPE html>
<html>
<head>



</head>
<body>
    <center>
        <table border="1" width="500">
            
            <tr>
                <td colspan="2" align="center">Place to visit:</td><td colspan="2" align="center">TeamLab Planets, Toyko</td>
            </tr>

            <tr>
                <td>Location:</td><td align="center">Toyosu, Koto City</td>
                <td>Museum name:</td><td>TeamLab Planets</td>
            </tr>

            <tr>
                <td colspan="2" align="center">More information:</td><td colspan="2" align="center"><a href=https://www.teamlab.art/e/planets/>Art museum with an immersive experience</a></td>
            </tr>

            <tr>
                <td colspan="4" align="center"><img src=“teamlab_planets.jpg” width=“200”></td>              
            </tr>

        </table>
    </center>
</body>
</html>